In [1]:
from selenium import webdriver
import time
import pandas as pd
from datetime import date

In [2]:
chrome_browser = webdriver.Chrome()
chrome_browser.get("https://www.mohfw.gov.in/")
time.sleep(15)

In [3]:
# To click on the expand button to load the table
exp=chrome_browser.find_element_by_xpath('//*[@id="state-data"]/div/div/div/h2/a')
exp.click()

In [4]:
today=date.today()
today_date = str(today) # Since it was a datetime object we convert in into string

In [5]:
head_list=[]
h= chrome_browser.find_element_by_xpath('//*[@id="state-data"]/div/div/div/div/table') #To extract the table only
th_list=h.find_elements_by_tag_name('th') #Extracting the headings


for i in th_list:
    head_list.append(i.text)
    
print(head_list)
print(len(head_list))

['S. No.', 'Name of State / UT', 'Active Cases*', 'Cured/Discharged/Migrated*', 'Deaths**', 'Total', 'Change since yesterday', 'Cumulative', 'Change since yesterday', 'Cumulative', 'Change since yesterday']
11

In [6]:
column_names=['S. No.', 'Name of State / UT', 'Active_Cases_Total', 'Active_Cases_Change since yesterday', 'Cured/Discharged/Migrated_Cumulative', 'Cured/Discharged/Migrated_Change since yesterday', 'Deaths_Cumulative', 'Deaths_Change since yesterday']
df=pd.DataFrame(columns= column_names) #Creating a dataframe with the proper headings
print(df)

Empty DataFrame
Columns: [S. No., Name of State / UT, Active_Cases_Total, Active_Cases_Change since yesterday, Cured/Discharged/Migrated_Cumulative, Cured/Discharged/Migrated_Change since yesterday, Deaths_Cumulative, Deaths_Change since yesterday]
Index: []

In [7]:
tr_list=h.find_elements_by_tag_name('tr') # Each tr corresponds to a particular state

for i in tr_list:
    td_list=i.find_elements_by_tag_name('td') # td retrieve each piece of info for a state
    row=[]
    for td in td_list:
        row.append(td.text) # creating row i.e. each state data
    print(row)
    
    try:
        data = {}
        for j in range(len(df.columns)):
            data[df.columns[j]] = row[j] #Creating a dictionary to be appended to the dataframe
        df = df.append(data, ignore_index=True) #Appending the data to the dataframe
    except:
        continue #Some extra lists are returned which would have resulted in error thus putting it in except block

[]
[]
[]
['1', 'Andaman and Nicobar Islands', '153', '3', '5309', '33', '65', '1']
['2', 'Andhra Pradesh', '66944', '6736', '922977', '3992', '7541', '31']
['3', 'Arunachal Pradesh', '380', '101', '16860', '9', '56', ' ']
['4', 'Assam', '11918', '1523', '217991', '398', '1160', '10']
['5', 'Bihar', '69869', '6122', '293945', '5308', '1956', '59']
['6', 'Chandigarh', '4273', '148', '31704', '482', '427', '4']
['7', 'Chhattisgarh', '121555', '1196', '477339', '17739', '6674', '207']
['8', 'Dadra and Nagar Haveli and Daman and Diu', '1668', '150', '4238', '88', '4', ' ']
['9', 'Delhi', '91618', '6254', '851537', '19609', '13193', '306']
['10', 'Goa', '10228', '928', '61032', '461', '964', '21']
['11', 'Gujarat', '92084', '7958', '355875', '5010', '5877', '137']
['12', 'Haryana', '58597', '3175', '328809', '6512', '3583', '55']
['13', 'Himachal Pradesh', '11859', '1066', '69763', '690', '1254', '18']
['14', 'Jammu and Kashmir', '16094', '1166', '136221', '791', '2092', '8']
['15', 'Jharkhand', '40942', '5116', '142294', '2373', '1715', '106']
['16', 'Karnataka', '196255', '20048', '1037857', '5624', '13885', '123']
['17', 'Kerala', '156554', '20597', '1160472', '6370', '5028', '28']
['18', 'Ladakh', '2041', '66', '10761', '131', '135', '1']
['19', 'Lakshadweep', '803', '111', '867', '34', '1', ' ']
['20', 'Madhya Pradesh', '84957', '2689', '369375', '9620', '4863', '75']
['21', 'Maharashtra', '701614', '4147', '3330747', '62298', '62479', '568']
['22', 'Manipur', '513', '60', '29153', '25', '381', '1']
['23', 'Meghalaya', '1133', '112', '14198', '68', '157', ' ']
['24', 'Mizoram', '608', '38', '4600', '24', '12', ' ']
['25', 'Nagaland', '384', '37', '12322', '16', '94', ' ']
['26', 'Odisha', '32963', '3992', '353551', '2165', '1965', '7']
['27', 'Puducherry', '5923', '519', '43931', '464', '726', '4']
['28', 'Punjab', '40584', '1718', '270946', '3657', '8189', '75']
['29', 'Rajasthan', '107157', '10791', '357329', '3618', '3389', '59']
['30', 'Sikkim', '640', '104', '6193', '19', '137', '1']
['31', 'Tamil Nadu', '89428', '5067', '934966', '7526', '13317', '59']
['32', 'Telengana', '52726', '2945', '324840', '3052', '1928', '29']
['33', 'Tripura', '563', '37', '33345', '77', '394', ' ']
['34', 'Uttarakhand', '26980', '2087', '109058', '1892', '1972', '19']
['35', 'Uttar Pradesh', '259810', '17545', '706414', '16514', '10541', '195']
['36', 'West Bengal', '68798', '5302', '621340', '6590', '10766', '56']
['Total#', '2428616', '137188', '13648159', '193279', '186920', '2263']
['*(Including foreign Nationals)']
['**( more than 70% cases due to comorbidities )']
['#States wise distribution is subject to further verification and reconciliation']
['#Our figures are being reconciled with ICMR']

In [8]:
df

,S. No.,Name of State / UT,Active_Cases_Total,Active_Cases_Change since yesterday,Cured/Discharged/Migrated_Cumulative,Cured/Discharged/Migrated_Change since yesterday,Deaths_Cumulative,Deaths_Change since yesterday
0,1,Andaman and Nicobar Islands,153,3,5309,33,65,1
1,2,Andhra Pradesh,66944,6736,922977,3992,7541,31
2,3,Arunachal Pradesh,380,101,16860,9,56,
3,4,Assam,11918,1523,217991,398,1160,10
4,5,Bihar,69869,6122,293945,5308,1956,59
5,6,Chandigarh,4273,148,31704,482,427,4
6,7,Chhattisgarh,121555,1196,477339,17739,6674,207
7,8,Dadra and Nagar Haveli and Daman and Diu,1668,150,4238,88,4,
8,9,Delhi,91618,6254,851537,19609,13193,306
9,10,Goa,10228,928,61032,461,964,21
10,11,Gujarat,92084,7958,355875,5010,5877,137
11,12,Haryana,58597,3175,328809,6512,3583,55
12,13,Himachal Pradesh,11859,1066,69763,690,1254,18
13,14,Jammu and Kashmir,16094,1166,136221,791,2092,8
14,15,Jharkhand,40942,5116,142294,2373,1715,106
15,16,Karnataka,196255,20048,1037857,5624,13885,123
16,17,Kerala,156554,20597,1160472,6370,5028,28
17,18,Ladakh,2041,66,10761,131,135,1
18,19,Lakshadweep,803,111,867,34,1,
19,20,Madhya Pradesh,84957,2689,369375,9620,4863,75
20,21,Maharashtra,701614,4147,3330747,62298,62479,568
21,22,Manipur,513,60,29153,25,381,1
22,23,Meghalaya,1133,112,14198,68,157,
23,24,Mizoram,608,38,4600,24,12,
24,25,Nagaland,384,37,12322,16,94,
25,26,Odisha,32963,3992,353551,2165,1965,7
26,27,Puducherry,5923,519,43931,464,726,4
27,28,Punjab,40584,1718,270946,3657,8189,75
28,29,Rajasthan,107157,10791,357329,3618,3389,59
29,30,Sikkim,640,104,6193,19,137,1
30,31,Tamil Nadu,89428,5067,934966,7526,13317,59
31,32,Telengana,52726,2945,324840,3052,1928,29
32,33,Tripura,563,37,33345,77,394,
33,34,Uttarakhand,26980,2087,109058,1892,1972,19
34,35,Uttar Pradesh,259810,17545,706414,16514,10541,195
35,36,West Bengal,68798,5302,621340,6590,10766,56

In [9]:
df=df.drop(columns=['S. No.']) #Removing the S. No. column since it doesn't convey any information

In [10]:
df

,Name of State / UT,Active_Cases_Total,Active_Cases_Change since yesterday,Cured/Discharged/Migrated_Cumulative,Cured/Discharged/Migrated_Change since yesterday,Deaths_Cumulative,Deaths_Change since yesterday
0,Andaman and Nicobar Islands,153,3,5309,33,65,1
1,Andhra Pradesh,66944,6736,922977,3992,7541,31
2,Arunachal Pradesh,380,101,16860,9,56,
3,Assam,11918,1523,217991,398,1160,10
4,Bihar,69869,6122,293945,5308,1956,59
5,Chandigarh,4273,148,31704,482,427,4
6,Chhattisgarh,121555,1196,477339,17739,6674,207
7,Dadra and Nagar Haveli and Daman and Diu,1668,150,4238,88,4,
8,Delhi,91618,6254,851537,19609,13193,306
9,Goa,10228,928,61032,461,964,21
10,Gujarat,92084,7958,355875,5010,5877,137
11,Haryana,58597,3175,328809,6512,3583,55
12,Himachal Pradesh,11859,1066,69763,690,1254,18
13,Jammu and Kashmir,16094,1166,136221,791,2092,8
14,Jharkhand,40942,5116,142294,2373,1715,106
15,Karnataka,196255,20048,1037857,5624,13885,123
16,Kerala,156554,20597,1160472,6370,5028,28
17,Ladakh,2041,66,10761,131,135,1
18,Lakshadweep,803,111,867,34,1,
19,Madhya Pradesh,84957,2689,369375,9620,4863,75
20,Maharashtra,701614,4147,3330747,62298,62479,568
21,Manipur,513,60,29153,25,381,1
22,Meghalaya,1133,112,14198,68,157,
23,Mizoram,608,38,4600,24,12,
24,Nagaland,384,37,12322,16,94,
25,Odisha,32963,3992,353551,2165,1965,7
26,Puducherry,5923,519,43931,464,726,4
27,Punjab,40584,1718,270946,3657,8189,75
28,Rajasthan,107157,10791,357329,3618,3389,59
29,Sikkim,640,104,6193,19,137,1
30,Tamil Nadu,89428,5067,934966,7526,13317,59
31,Telengana,52726,2945,324840,3052,1928,29
32,Tripura,563,37,33345,77,394,
33,Uttarakhand,26980,2087,109058,1892,1972,19
34,Uttar Pradesh,259810,17545,706414,16514,10541,195
35,West Bengal,68798,5302,621340,6590,10766,56

In [11]:
df.to_csv('Covid_Dataset_'+today_date+'.csv', index = False) # Saving the file in csv format